{% extends 'base.html' %}
        {% set title='HomePage' %}
    {% block title %}{{ title }} Page{% endblock %}

{% block tohen %}

    <div id="container">

        <div class="content1">  jast have fun </div>
        <div class="content2" id="jojo">בשנת 1979 הקימו שושי ומתי פרידמן, אז חייל משוחרר וחובב ספורט מושבע שנדבק בחיידק גלישת הרוח רק כמה שנים קודם לכן, בית ספר לגלישה ומועדון לספורט ימי, אשר ילווה לאורך השנים אלפי תלמידים ולקוחות, יחנך אותם לספורט ימי, ויהווה בית לאוהבי ים וחולי רוח מכל קצוות הארץ.
            מאז, לאורך תקופה של 40 שנים מתי מגדל ומחנך דור של גולשים ואוהבי ים, ותוך כדי דואג להביא לארץ באופן קבוע את הציוד הכי מתקדם וחדיש שיש בשוק, כדי שיהיה לכל אחד ואחת על מה לגלוש – בין אם זה בגלישת רוח, גלים, קייטסרף או סאפ. מי שמכיר את מתי ואת יודע שהוא עושה זאת בהתמדה, אהבה ותמיד עם חיוך על הפנים.
             </div>
        <div class="footer"> <a href="url">#HomePage</a></div>

    </div>
{% endblock %}
